<%= content_tag :h1, "Create profile" %>

<%= form_for([@user, @profiles]) do |f| %>
	<div class="form_field">
		<%= f.label "Name" %>
		<%= f.text_field :full_name %>
	</div>
	<div class="form_field">
		<%= f.label "Username" %>
		<%= f.text_field :username %>
	</div>
	<div class="form_field">
		<%= f.label "Gender" %>
		<%= f.select :gender, ["male", "female"] %>
	</div>
	<div class="form_field">
		<%= f.label "Age" %>
		<%= f.text_field :age %>
	</div>
	<div class="form_field">
		<%= f.label "Phone" %>
		<%= f.text_field :phone_number %>
	</div>
	<div class="form_field">
		<%= f.label "Anonymous" %>
		<%= f.text_field :is_anonymous %>
	</div>
	<div class="form_field">
		<%= f.label "About" %>
		<%= f.text_field :about %>
	</div>

	<%= f.submit "Create Profile" %>
<% end %>