<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<%= stylesheet_link_tag "css/simple-sidebar" %>
	<%= stylesheet_link_tag "home" %>
<link rel="stylesheet" type="text/css" href="faq.css" />
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
<link href="../../assets/stylesheets/css/bootstrap.min.css" rel="stylesheet"/>


</head>

<body>

<%= yield %>

	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("active");
	</script>

</body>
</html>

